header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-height: 65px;
    background-color: rgb(225, 221, 217);
}

.header-links {
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    font-size: 17px;
    font-weight: bold;
}

ul{
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.header-links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(94, 94, 94);
    transform-origin: center;
    transition: transform 0.35s ease-out;
}

.header-links:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

#header-splash {
    display: flex;
    letter-spacing: -1.5px;
    border-radius: ;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px;
    background-color: rgb(225, 221, 217);
    font-family: "Sansita", sans-serif;
    letter-spacing: 0.3px;
}

footer {
    display: flex;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 25px;
}

#search-wrapper {
    display: flex;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}

#search-wrapper.show-animation{
    animation: slide-left 0.5s;
    transform: translateX(0%);
}

@keyframes slide-left {
    0% {opacity: 0; transform: translateX(100%);}
    50% {opacity: 50%;}
    100% {transform: translateX(0%)}
}

#search-wrapper.hide-animation{
    animation: slide-right 0.25s;
    transform: translateX(0%);
}

@keyframes slide-right {
    0% {transform: translateX(0%)}
    50% {opacity: 50%;}
    100% {opacity: 0; transform: translateX(100%);}
}

#header-nav-bar-links {
    display: flex;
}

.fade-in {
    animation: fade-in 0.225s;
}

@keyframes fade-in {
    0% {opacity: 0%;}
    25% {opacity: 25%}
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100%;}
}

@keyframes fade-out {
    0% {opacity: 100%;}
    25% {opacity: 75%}
    50% {opacity: 50%;}
    75% {opacity: 25%;}
    100% {opacity: 0%;}
}

.search-bar {
    display: flex;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 25px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
    padding: 10px 15px;
}

.search-bar:hover {
    border: 1px solid rgb(82, 82, 82);
}

#search-bar-input {
    background: transparent;
    flex: 1;
    outline: none;
    border: none;
    font-family: "Arial", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.search-bar.focused {
    border: 1px solid rgb(82, 82, 82);
}

::placeholder {
    font-size: 15px;
    opacity: 75%;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: none;
}

.fa-search.rs,
.fa-close.rs {
    margin: auto;
    scale: 175%;
    background-color: rgb(225, 221, 217);
}

.fa-search.ls,
.fa-close.ls {
    opacity: 50%;
}

.fa-search.ls:hover,
.fa-close.ls:hover {
    opacity: 100%;
}

.expanded-search{
    border: none;
}

.fa-search.rs:hover,
.fa-close.rs:hover {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    25%{transform: scale(0.85);}
    50%{transform: scale(1.0);}
    75%{transform: scale(0.85);}
    100%{transform: scale(1.0);}
}

.burger-wrapper {
    height: 375px;
    position: fixed;
    z-index: 1;
    width: 0px;
    top: 0;
    right: 0;
    background-color: rgba(11, 11, 11, 0.9);
    padding-top: 15px;
    transition: 0.5s;
}

.burger-wrapper li {
    opacity: 100%;
    padding: 5px;
    margin-right: auto;
    font-size: 16px;
}

.burger-items{
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    margin: 5px;
    list-style-type: none;
}

.burger-items a {
    color: white;
}

button {
    background: transparent;
}

.burger-wrapper a:hover {
    color: rgb(145, 145, 145);
    transition: .3s;
}

.burger-menu{
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: none;
    background-color: transparent;
    display: none;
}

.fa-bars {
    scale: 150%;
    margin: auto;
}

.fa-bars:hover {
    transition: .4s;
    scale: 175%;
}

.right-side-options {
    display: flex;
    gap: 40px;
}

#main-image-sec {
    display: flex;
    flex-direction: column;
    background:url(./images/island_wide.jpg) no-repeat center center;
    background-size: cover;
    background-position: fixed;
    height: 625px;
    justify-content: flex-start;
    align-items: center;
}

#contact-button {
    height: 50px;
    width: 120px;
    font-size: 16px;
    border: 4px solid white;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

#about-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(225, 221, 217);
}

#about-sec p {
    display: flex;
    max-width: 700px;
    letter-spacing: 0.5px;
}

#about-sec h1 {
    display: flex;
    padding: 60px;
    align-self: center;
    font-size: 50px;
}

#index-s2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-family: "Arial", sans-serif;
    background: linear-gradient(to right, #e79c8e 0%,#e8efa5 100%);
}

#index-s2 h1 {
    align-self: center;
    font-family: "Sansita", sans-serif;
    letter-spacing: 1px;
}

#contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 25px;
}

#label-wrapper,
#label-wrapper textarea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 760px;
    max-width: 250px;   
}

#label-wrapper-cal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#label-wrapper-cal button {
    margin: 25px;
    
}

#label-wrapper-cal #date-range {
    display: none;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}

#name,
#email,
#phone-number {
    width: 200px;
    border-radius: 10px;
    font-size: 14px;
    height: 25px;
}

#name:focus,
#email:focus,
#phone-number:focus,
#message:focus,
#adults:focus,
#children:focus,
#name:hover,
#email:hover,
#phone-number:hover,
#message:hover,
#adults:hover,
#children:hover,
.flatpickr-calendar:focus,
.flatpickr-calendar:hover {
    outline: 2px solid black;
    border: none;
    
}

#name,
#email,
#phone-number,
#message,
#adults,
#children,
.flatpickr-calendar {
    outline: 2px solid rgb(161, 157, 157);
    border: none;
    border-radius: 10px;
}

#adults,
#children {
    width: 47px;
    height: 25px
}

#message {
    font-family: "Arial", sans-serif;
    border-radius: 10px;
}

#button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button-wrapper p {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

#submit-contact-form {
    font-size: 15px;
    width: 105px;
    height: 40px;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background: linear-gradient(to right, #ffb369 0%,#ff4272 100%);
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    border: 1px solid black;
}

#submit-contact-form:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 0 75px;
    font-family: "Arial", sans-serif;
    letter-spacing: 0px;
}

footer img {
    height: 125px;
    width: 125px;
    display: flex;
}

#social-media-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#social-media-icons {
    align-self: center;
    scale: 150%;
    padding: 5px;
}

#attraction-s1-img {
    display: flex;
    flex-direction: column;
    background:url(./images/attractions.jpg) no-repeat center center;
    background-size: cover;
    background-position: fixed;
    height: 625px;
    justify-content: flex-start;
    align-items: center;
}

.secondary-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    padding: 25px;
    padding-top: 50px;
    border-bottom: 1.5px solid darkgray;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 35px;
}

.secondary-main h1 {
    font-size: 50px;
}

.slideshow-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    max-width: 450px;
}

.slideshow {
    display: flex;
    flex-direction: column;
}

.slides img {
    height: 450px;
    width: 525px;
    border-radius: 2%;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.6), 
                20px -10px 20px rgba(0, 0, 0, 0.6), 
                0px -5px 20px rgba(0, 0, 0, 0.6);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .prev:hover, .next:hover {
    color: black;
  }

 .prev,
 .next {
    padding: 5px;
    color: #717171;
    cursor: pointer;
  }

  .slide-fade {
    animation: slide-fade-in 0.8s;
  }

  #food-s1-img {
    display: flex;
    flex-direction: column;
    background:url(./images/food.jpg) no-repeat center center;
    background-size: cover;
    background-position: fixed;
    height: 625px;
    justify-content: flex-start;
    align-items: center;
}

.slideshow-text ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#food-s1-img button:hover,
#main-image-sec button:hover,
#attraction-s1-img button:hover,
#lodging-s1-img button:hover,
#transportation-s1-img button:hover,
#faq-s1-img button:hover {
    animation: pulse 2s infinite;
}


#food-s1-img button,
#main-image-sec button,
#attraction-s1-img button,
#lodging-s1-img button,
#transportation-s1-img button,
#faq-s1-img button {
    box-shadow: 0 0 10px 0 #000000 inset, 0 0 20px 2px #000000;
    backdrop-filter: blur(10px);
}

#lodging-s1-img {
    display: flex;
    flex-direction: column;
    background:url(./images/lodging.jpg) no-repeat center center;
    background-size: cover;
    background-position: fixed;
    height: 625px;
    justify-content: flex-start;
    align-items: center;
}

#transportation-s1-img {
    display: flex;
    flex-direction: column;
    background:url(./images/transportation.jpg) no-repeat center center;
    background-size: cover;
    background-position: fixed;
    height: 625px;
    justify-content: flex-start;
    align-items: center;
}

#faq-s1-img {
    display: flex;
    flex-direction: column;
    background:url(./images/faq.jpg) no-repeat center center;
    background-size: cover;
    background-position: fixed;
    height: 625px;
    justify-content: flex-start;
    align-items: center;
}

#faq-s1-img h1,
#food-s1-img h1,
#lodging-s1-img h1,
#transportation-s1-img h1,
#main-image-sec h1,
#attraction-s1-img h1 {
    color: white;
    margin-top: 35px;
    font-size: 45px;
    text-align: center;
    text-shadow: -4px 0 black, 0 3px black, 1px 0 black, 0 2px black;
    letter-spacing: 2px;
}


  @keyframes slide-fade-in {
    0%{transform: scale(0.96);}
    100%{transform: scale(1.0);}
}

#faq-s{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#faq-s-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 550px;
    padding-bottom: 50px;
    padding: 15px;
}

#faq-s-wrapper h1 {
    align-self: center;
    font-size: 35px;
}

#learn-more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #e79c8e 0%,#e8efa5 100%);
}

#learn-more h1 {
    font-size: 35px;
    padding-top: 10px;
}

#image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 35px;
    max-width: 1350px;
    flex-wrap: wrap;
    padding-top: 0px;
    position: relative;
    gap: 50px;
}

.image-links {
    background-size: cover;
    height: 300px;
    width: 325px;
    display: flex;
    flex-direction: row;
    gap: 90px;
    border: 4px solid black;
}

.image-links a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 25px;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 1px black;
    letter-spacing: 2px;
    height: 300px;
    width: 325px;
}

.image-links span {
    display: flex;
    margin-bottom: 5px;
}

@media (max-width: 1000px) {
    .search-bar {
        min-width: 75px;
    }

    #header-splash {
        margin-left: 10px;
    }

    .search {
        margin-right: 10px;
    }
    
    .right-side-options {
        gap: 4px;
    }

    .burger-menu {
        display: flex;
    }

    #attractions-s2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        margin: 20px;
        font-size: 20px;
        flex-wrap: wrap;
    }
}

@media (max-width: 650px){
    #about-sec {
        flex-direction: column;
    }

    .slides img {
        height: 300px;
        width: 325px;
    }
}

