header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-height: 65px;
    background-color: rgb(225, 221, 217);
}

.header-links {
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    font-size: 17px;
    font-weight: bold;
}

ul{
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.header-links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(94, 94, 94);
    transform-origin: center;
    transition: transform 0.35s ease-out;
}

.header-links:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

#header-splash {
    display: flex;
    letter-spacing: -1.5px;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px;
    background-color: rgb(225, 221, 217);
    font-family: "Sansita", sans-serif;
}

footer {
    display: flex;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 25px;
}

#search-wrapper {
    display: flex;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}

#search-wrapper.show-animation{
    animation: slide-left 0.5s;
    transform: translateX(0%);
}

@keyframes slide-left {
    0% {opacity: 0; transform: translateX(100%);}
    50% {opacity: 50%;}
    100% {transform: translateX(0%)}
}

#search-wrapper.hide-animation{
    animation: slide-right 0.25s;
    transform: translateX(0%);
}

@keyframes slide-right {
    0% {transform: translateX(0%)}
    50% {opacity: 50%;}
    100% {opacity: 0; transform: translateX(100%);}
}

#header-nav-bar-links {
    display: flex;
}

.fade-in {
    animation: fade-in 0.225s;
}

@keyframes fade-in {
    0% {opacity: 0%;}
    25% {opacity: 25%}
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100%;}
}

@keyframes fade-out {
    0% {opacity: 100%;}
    25% {opacity: 75%}
    50% {opacity: 50%;}
    75% {opacity: 25%;}
    100% {opacity: 0%;}
}

.search-bar {
    display: flex;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 25px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
    padding: 10px 15px;
}

.search-bar:hover {
    border: 1px solid rgb(82, 82, 82);
}

#search-bar-input {
    background: transparent;
    flex: 1;
    outline: none;
    border: none;
    font-family: "Sansita", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.search-bar.focused {
    border: 1px solid rgb(82, 82, 82);
}

::placeholder {
    font-size: 15px;
    opacity: 75%;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: none;
}

.fa-search.rs,
.fa-close.rs {
    margin: auto;
    scale: 175%;
    background-color: rgb(225, 221, 217);
}

.fa-search.ls,
.fa-close.ls {
    opacity: 50%;
}

.fa-search.ls:hover,
.fa-close.ls:hover {
    opacity: 100%;
}

.expanded-search{
    border: none;
}

.fa-search.rs:hover,
.fa-close.rs:hover {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    25%{transform: scale(0.85);}
    50%{transform: scale(1.0);}
    75%{transform: scale(0.85);}
    100%{transform: scale(1.0);}
}

.burger-wrapper {
    height: 375px;
    position: fixed;
    z-index: 1;
    width: 0px;
    top: 0;
    right: 0;
    background-color: rgba(11, 11, 11, 0.9);
    padding-top: 15px;
    transition: 0.5s;
}

.burger-wrapper li {
    opacity: 100%;
    padding: 5px;
    margin-right: auto;
    font-size: 16px;
}

.burger-items{
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    margin: 5px;
    list-style-type: none;
}

.burger-items a {
    color: white;
}

button {
    background: transparent;
}

.burger-wrapper a:hover {
    color: rgb(145, 145, 145);
    transition: .3s;
}

.burger-menu{
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: none;
    background-color: transparent;
    display: none;
}

.fa-bars {
    scale: 150%;
    margin: auto;
}

.fa-bars:hover {
    transition: .4s;
    scale: 175%;
}

.right-side-options {
    display: flex;
    gap: 40px;
}

#main-image-sec {
    display: flex;
    background:url(./images/island_wide.jpg) no-repeat center center;
    background-size: cover;
    background-position: fixed;
    height: 600px;
    justify-content: center;
}

#main-image-sec h1 {
    color: white;
    margin-top: 35px;
    font-size: 45px;
    text-align: center;
    text-shadow: -4px 0 black, 0 3px black, 1px 0 black, 0 2px black;
    letter-spacing: 2px;
}

#about-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: -20px;
    background-color: rgb(225, 221, 217);
}

#about-sec p {
    display: flex;
    max-width: 700px;
    letter-spacing: 0.5px;
}

#about-sec h1 {
    display: flex;
    padding: 60px;
    align-self: center;
    font-size: 50px;
}


@media (max-width: 1000px) {
    .search-bar {
        min-width: 75px;
    }

    #header-splash {
        margin-left: 10px;
    }

    .search {
        margin-right: 10px;
    }
    
    .right-side-options {
        gap: 4px;
    }

    .burger-menu {
        display: flex;
    }
}

